/* styles.css */
body {
  margin: 0;
  overflow: hidden;
  background-color: #000;
  font-family: Arial, sans-serif;
  color: white;
}
.red-shadow {
  box-shadow: inset 0 0 100px 5px red;
}

.blue-shadow {
  box-shadow: inset 0 0 100px 5px lightskyblue;
}
#lobbyUI {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
input {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
}
#matchButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#status {
  margin-top: 20px;
}

#gameCanvas {
  display: none;
  width: 1920px;
  height: 1080px;
}

#fullscreenWarning{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
.leaderboard {
  font-weight: bold;
  text-align: justify;
  padding: 10px;
  box-sizing: border-box;
  color: white;
  display: block;
}
.champion:hover  {
  background-color: #ff2974;
}
.diamond:hover {
  background-color: #a552ff;
}
.emerald:hover {
  background-color: #8aff9f;
}
.champion{
  color: white;
  background-color: #ff0059;
  padding: 2px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.diamond {
  color: white;
  background-color: #7b00ff;
  padding: 2px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.emerald {
  color: black;
  background-color: #66ff82;
  padding: 2px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
option {
  margin: 10px;
  text-align: center;
}
button {
  border-radius: 10px;
  background-color: white;
  border: none;
}
button:disabled {
  background-color: gray;
}
.hitmark {
  filter: drop-shadow(0 0 5px white);
}
